.loginWrapper {
    height: 550px;
    width: 550px;
    background-color: var(--color-gray-light, #F4F5F9);
    border-radius: 15px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 48px;
    &__title, &__subtitle  {
        display: inline-block;
        color: var(--color-dark-primery);
        font-size: 22px;
        font-weight: 500;
        line-height: 139.023%;
        margin-bottom: 22px;
    }
    &__alternative {
        color: var(--color-dark-primery);
        font-size: 15px;
        margin-bottom: 10px;
    }
    &__link {
        width: 100%;
        border-radius: 51px;
        box-sizing: border-box;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-bottom: 8px;
        color: var( --color-gray-text);
        font-size: 16px;
        font-weight: 500;
        line-height: 157.023%; 
        background-color:transparent;
        border: 1px solid var( --color-gray-second);
        cursor: pointer;
    }
}

.registerWrapper {
    height: 450px;
    width: 550px;
    background-color: var(--color-gray-light, #F4F5F9);
    border-radius: 15px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 48px;
    &__title, &__subtitle  {
        display: inline-block;
        color: var(--color-dark-primery);
        font-size: 22px;
        font-weight: 500;
        line-height: 139.023%;
        margin-bottom: 22px;
    }
    &__subtitle{
        margin-bottom: 15px;
    }
    &__link {
        width: 100%;
        border-radius: 51px;
        box-sizing: border-box;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-bottom: 8px;
        color: var( --color-gray-text);
        font-size: 16px;
        font-weight: 500;
        line-height: 157.023%; 
        background-color:var(  --color-blue-primary);
        border: 1px solid var( --color-gray-second);
        cursor: pointer;
    }
    &__picture {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .loginWrapper, .registerWrapper {
      max-width: 500px;
    }
    .login, .register {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 20px;
        }
    }
  }

  @media (max-width: 576px) {
    .loginWrapper, .registerWrapper {
      max-width: 350px;
    }
    .login, .register {
        &__title {
            font-size: 16px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
  
  }
  @media (max-width: 420px) {
    .loginWrapper, .registerWrapper {
      max-width: 240px;
      height: fit-content;
      
      
    }
    .login, .register {
        padding: 34px 20px;
        &__title {
            font-size: 16px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
  
  }